form {
  text-align: center;
  width: 60%;
}

form > * {
  width: 40%;
  display: inline-block;
}

section + section {
  max-height: 60vh;
}

@media only screen and (min-width: 768px) {
  section + section {
    max-height: 20vh;
  }
}
